<h3>Устройство газона</h3>
<p><b>Как выбрать правильное устройство газона? В чем разница между посевным и рулонным газоном? </b></p>
<p>В этой статье мы расскажем вам об особенностях выбора устройства газона и в качестве примера рассмотрим два варианта – посевной газон и рулонный газон.</p>
<p>Давайте начнем с главного вопроса:</p>
<p><b>Какой газон лучше? – этот вопрос часто задают нам наши клиенты.</b></p>
<p>Подготовка основания под газоны – один из главных видов работ который выполняется по абсолютно одинаковой технологии, как для рулонного газона, так и для посевного.</p>
Что необходимо сделать для устройства газона?
<ul class="title">
    <li>Необходимо расчистить территорию от мусора, сорной поросли, пней и т.п.</li>
    <li>Если участок был сильно засорен сорняками, желательно, перед началом подготовки основания выполнить обработку территории гербицидами сплошного действия.</li>
    <li>Взрыхлить (культивация) почву с выборкой крупных корневищ и сорняков</li>
    <li>При необходимости, завезти дополнительный плодородный грунт</li>
    <li>Далее необходимо выровнять участок под газон</li>
    <li>Провести уплотнение грунта</li>
</ul>
<p>После того, как основание подготовлено, можно приступать, непосредственно к устройству газона:</p>
<ul class="chek">
    <li>Рулонному газону понадобиться всего несколько часов/дней (в зависимости от площади) -– и перед вашим домом появится изумрудно зеленая лужайка. Ваши дальнейшие хлопоты заключаются в обеспечении обильного полива в течение первых 2-3х недель. И газон ГОТОВ! Пользуйтесь! Вы получаете желанную лужайку с минимальными затратами времени и сил!</li>
    <li>Уход за рулонным газоном, практически ничем не отличается от ухода за посевным газоном: Это своевременное кошение, полив, подкормка.</li>
    <li>При устройстве посевного газона до наступления заветного момента, когда перед домом появится плотный зеленый ковер, придется не только подождать несколько месяцев, но и приложить больше усилий:</li>
</ul>
<p>Что же именно предстоит сделать?</p>

<ul class="chek">
<li>•	Распределить по подготовленной территории семена газонных трав;</li>
<li>•	Заделать семена в грунт;</li>
<li>•	Желательно укрыть засеянный участок спанбондом, чтобы создать более благоприятные условия для всхода всхожести семян;</li>
<li>•	Очень важно следить, чтобы газон был хорошо увлажнен в течении первыхй 1-1,5/мес., т.к у молодых всходов корневая система еще не развита и не может обеспечить «запас» воды, необходимый для полноценного роста;</li>
<li>•	После третьего покоса (примерно через 1,5 месяца после посева газона) необходимо сделать обработку газона гербицидами избирательного действия, чтобы избавиться от сорняков, которые не погибли под воздействием регулярных покосов (данную процедуру, возможно, придется произвести несколько раз).</li>
</ul>

<p>Дальнейший уход стандартный: своевременное кошение, полив, подкормка.</p>

<p>Таким образом, можно выделить три два основных отличия устройства газона:</p>
<ol>
    <li>устройство декоративных огородов и спортивных площадок;</li>
    <li>установка малых архитектурных форм: беседок, пергол, мостиков;</li>
    <li>подбор и посадка растений, с учетом климатических особенностей региона;</li>
    <li>подготовка основания для газона, посев семян газонных трав либо укладка рулонного газона;</li>
    <li>мульчирование посадок (отсыпка корой)</li>
    <li>создание декоративных композиций из камня и гравия</li>
</ol>

<p>Для того, чтобы в результате выполненных работ было создано целостное пространство, все элементы которого, находятся во взаимном и гармоничном единстве, необходимо соблюдать требования, предъявляемые к ландшафтной композиции (функциональность, конструктивность, эстетичность); уметь пользоваться приемами организации пространства (контраст, акцент, нюанс, симметрия и асимметрия), учитывать особенности восприятия и соотношения форм (по геометрическому строению, величине, фактуре), знать теорию цвета. Ну и конечно же, необходимо знать правила посадки растений, их специфические требования к почве, влаге и освещению, их скорость и силу роста.</p>

<p>Из всего сказанного, можно сделать вывод - создание красивого и практичного сада на долгие годы дело не такое уж и простое, как кажется на первый взгляд. В нашем распоряжении профессиональные знания, опыт и любовь к своему делу. Мы готовы помочь вам в решении всех вопросов касающихся <b>благоустройства и озеленения</b> как <b>придомовой территории</b>, таки <b>озеленению городских территорий</b>.</p>
